# Set default behavior
* text=auto

# Python files
*.py text eol=lf

# GLSL shader files
*.vert text eol=lf
*.frag text eol=lf
*.glsl text eol=lf

# TOML
*.toml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.pmx binary
*.bmp binary
*.tga binary
*.sph binary
*.spa binary

