[submodule "mmd/thirdparty/glfw"]
	path = mmd/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "mmd/thirdparty/bullet"]
	path = mmd/thirdparty/bullet
	url = https://github.com/bulletphysics/bullet3.git
