# === 姵儿（椛暗式） ===
姵儿 = resources/models/姵儿/椛暗式-姵儿ver1.2.pmx
姵儿-v1.0 = resources/models/姵儿/椛暗式-姵儿ver1.0.pmx
姵儿-np = resources/models/姵儿/椛暗式-姵儿ver1.2（no safety pants).pmx

# === 艾尔莎 ===
艾尔莎 = resources/models/艾尔莎/莎小姐.pmx
艾尔莎-无外套 = resources/models/艾尔莎/艾尔莎.无外套.pmx
艾尔莎-无外套大 = resources/models/艾尔莎/艾尔莎.无外套（大）.pmx
艾尔莎-有外套 = resources/models/艾尔莎/艾尔莎.有外套.pmx
艾尔莎-有外套大 = resources/models/艾尔莎/艾尔莎.有外套（大）.pmx
